For this assignment we will use the titanic dataset\
https://drive.google.com/file/d/1JSOk3x3kv8dIWuPM3OmbPK6Lt1l_NlfX/view?usp=sharing

INSTRUCTIONS:

Go to File -> Save a Copy in Drive and edit this notebook in your copy

Write your code in following code cells

Marks will not be given if the code is plagiarised

You can refer to prev class notebooks

1. Read the dataset and print last 10 row

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/train.csv')
df.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

2. Drop the unnecessary columns and print first 10 rows of the modified dataset\
   *Hint*: only *Survived*, *Pclass*, *age*, *sex*, fare are the important features

In [ ]:
input_class=df.drop(['PassengerId','Name','Embarked','SibSp','Parch','Ticket','Cabin','Survived'],axis=1)
input_class.head(10)

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500
5       3    male   NaN   8.4583
6       1    male  54.0  51.8625
7       3    male   2.0  21.0750
8       3  female  27.0  11.1333
9       2  female  14.0  30.0708

3. Fill the NaN data points (if any)

In [ ]:
input_class.isnull().sum()

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

In [ ]:
import math
median=input_class.Age.median()
input_class.Age=input_class.Age.fillna(median)
input_class.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

4. As we need to predict the if the passenger survived or not, make two datafrmes:\
input dataframe : print top 5 values

In [ ]:
input_class.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

5. Target class (Survived) : print top 5 values

In [ ]:
target=df['Survived']
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

6. Encode the features wherever needed

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
input_class.Sex=encoder.fit_transform(input_class.Sex)
input_class.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250
3       1    0  35.0  53.1000
4       3    1  35.0   8.0500

7. Split the data for training and testing

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(input_class,target,test_size=0.2)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

9. Use the decision tree model

In [ ]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

10. Fit the model for training

In [ ]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

11. Use model.score(x_test) to predict the accuracy of the model

In [ ]:
model.score(x_test,y_test)

0.7988826815642458

In [ ]:
from sklearn.svm import SVC
model=SVC(C=10,gamma=100,kernel='linear')
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.7988826815642458