### House Pricing Dataset
This dataset contains various features or attributes related to a house, such as its size, number of rooms, amenities.\
The goal is to use the dataset to build a model that can predict the price of
a house based on its features.\
This assignment is based on EDA of the dataset.\
https://drive.google.com/file/d/11zaqBkMq-J02u4j58oUbp0K2m_1C9MEI/view?usp=sharing

**INSTRUCTIONS:**

Go to File -> Save a Copy in Drive and edit this notebook in your copy

Write your code in following code cells

Put all your doubts on Discord channel

Marks will not be given if the code is plagiarised

You can refer to prev class notebook (Fraudbuster_01)

Total marks : 75

In [ ]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

###1. Read data (1 Marks)

In [ ]:
##code

###2. Display top 10 rows and bottom 10 rows of the dataset (1 Marks)

In [ ]:
##code

###3. Display shape of dataset (1 Marks)

In [ ]:
##code

###4. Display data types of all columns (1 Marks)

In [ ]:
##code

###5. Find stats of all columns (1 Marks)

In [ ]:
##code

###6. Name which columns are features and which is target variable (5 Marks)

In [ ]:
##code

###7. Of the 12 features differentiate numerical and categorical features (5 Marks)
hint: Print unique rows for each feature

In [ ]:
##code

###8. Find Null or Missing values in the dataset (5 Marks)

In [ ]:
##code

###9. Plot the distribution of target variable : *'price'*. (5 Marks)

In [ ]:
##code

###10. Find and Plot the categorical features against there count in dataset (25 Marks)
hint: Find the count of rows for each unique value of a feature and then plot

In [ ]:
##code

###11. Box-Plot for the numerical feature (5 Marks)

In [ ]:
##code

###12. Check for duplicate rows in the dataset (5 Marks)

In [ ]:
##code

###13. Display Rows with *'area'* of house in range [7000, 7500] (5 Marks)

In [ ]:
##code

###14. Price of house with largest area (5 Marks)

In [ ]:
##code

###15. Plot a Scatter plot between *'price'* and *'area'* (5 Marks)

In [ ]:
##code